---
permalink: /index.html
layout: single
author_profile: true
classes: wide
ksbs:
    - K1
    - K2
    - K3
    - K4
    - K5
    - K6
    - K7
    - K8
    - K9
    - K10
    - K11
    - K12
    - S1
    - S2
    - S3
    - S4
    - S5
    - S6
    - S7
    - S8
    - S9
    - S10
    - S11
    - S12
    - S13
    - S14
    - S15
    - S16
    - S17
    - B1
    - B2
    - B3
    - B4
    - B5
    - B6
    - B7
    - B8
    - B9

---

{% for portfolio_page in site.portfolio %}
  <div class="border">
    <a href="{{ portfolio_page.url }}">{% increment counter %}. {{ portfolio_page.title }}</a>
    <p>{{ portfolio_page.summary }}</p>
  </div>
  <br>
{% endfor %}


<table>
    <tr>
        <th></th>
        {% for portfolio_page in site.portfolio %}
            <th><a href="{{ portfolio_page.url }}">{% increment table_counter %}</a></th>
        {% endfor %}
    </tr>
    {% for ksb in page.ksbs %}
        <tr>
            <td>{{ ksb }}</td>
            {% for portfolio_page in site.portfolio %}
                {% if portfolio_page.ksbs contains ksb %}
                    <td>
                        <img src="/assets/images/green.svg" alt="" width="32" height="32">
                    </td>
                {% else %}
                    <td>
                        <img src="/assets/images/red.svg" alt="" width="32" height="32">
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
