---
permalink: /index.html
layout: single
author_profile: true
classes: wide
duties:
    - Duty 1
    - Duty 2
    - Duty 3
    - Duty 4
    - Duty 5
    - Duty 6
    - Duty 7
    - Duty 8
    - Duty 9
    - Duty 10
    - Duty 11
    - Duty 12
    - Duty 13
    - Duty 14
    - Duty 15
    - Duty 16
    - Duty 17
    - Duty 18
    - Duty 19
    - Duty 20
    - Duty 21
---

{% for portfolio_page in site.portfolio %}
  <div class="border">
    <a href="{{ portfolio_page.url }}">{% increment counter %}. {{ portfolio_page.title }}</a>
    <p>{{ portfolio_page.summary }}</p>
  </div>
  <br>
{% endfor %}


<table>
    <tr>
        <th></th>
        {% for portfolio_page in site.portfolio %}
            <th><a href="{{ portfolio_page.url }}">{% increment table_counter %}</a></th>
        {% endfor %}
    </tr>
    {% for duty in page.duties %}
        <tr>
            <td>{{ duty }}</td>
            {% for portfolio_page in site.portfolio %}
                {% if portfolio_page.duties contains duty %}
                    <td>
                        <img src="/assets/images/green.svg" alt="" width="32" height="32">
                    </td>
                {% else %}
                    <td>
                        <img src="/assets/images/red.svg" alt="" width="32" height="32">
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
